// #region all
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
// #endregion

// #region dashboard
.dashboard-component {
  padding: 60px 10%; 

  .header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    div {
      padding: 0px 20px 0px 0px;
    }

    .plusButton {
      background-color: #002431;
      color: #fff;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      font-size: 24px;
      text-align: center;
      line-height: 40px;
      cursor: pointer;
      margin-bottom: 20px;
    }
  }

  .filters {
    margin-bottom: 60px;
  }

  .tripItem {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;

    p {
      padding: 5px 10px;
      flex: 30%;
    }
  }
}
// #endregion

// #region add-trip-dialog-component
.add-trip-dialog-component {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .content {
      background-color: #fff;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

      .exitButton button {
        background-color: red;
        color: #fff;
        border: none;
        border-radius: 50%;
        width: 25px;
        float: right;
        height: 25px;
        font-size: 12px;
        text-align: center;
        cursor: pointer;
        margin-bottom: 20px;
      }
      
      h2 {
        margin-bottom: 30px;
      }

      .form-group {
        margin-bottom: 20px;

        label {
          display: block;
          margin-bottom: 5px;
          font-weight: bold;
        }
        
        input[type="text"], select {
          width: 20rem;
          /* TODO: 100% for small screens */
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 16px;
        }

        .invalidInput {
          border: 1px solid red !important;
        }

        .invalidMessage {
          color: red;
          margin-bottom: 20px;
          margin-top: 5px;
        }
      }

      .actionButtons {
        margin-top: 30px;
        margin-bottom: 20px;

        button {
          border: none;
          border-radius: 5px;
          padding: 10px 20px;
          font-size: 16px;
          cursor: pointer;
        }

        .addTrip {
          background-color: #002431;
          color: #fff;
          margin-right: 20px;
        }
      
        .addTrip:hover {
          background-color: #0056b3;
        }

        .cancel {
          background-color: whitesmoke;
          color: black;
        }

        .cancel:hover {
          background-color: lightgrey;
        }
      }
      
      .pageInvalidMessage {
        background-color: pink;
        border: 1px solid red !important;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
      }
    }
  }
}
// #endregion

// #region navbar-component
.navbar-component {
  margin: 0;
  background-color: #002431;
  color: #fff;
  padding: 20px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-right: 28px;
    padding-bottom: 5px;
  }

  a:hover {
    text-decoration: none;
    cursor: pointer;
  }
}
// #endregion