@import '~@fortawesome/fontawesome-free/css/all.css';
$darkblue: #002431;
$lightblue: #0056b3;
$brightblue: #1A72CD;
$white: #fff;
$lightestgrey: #f5f5f5;
$lightgrey: #e0e0e0;
$red: #DC143C;
$brightred: #E9143C;
$pink: #F3CFC6;
$black: #000000;
$lightshadow: rgba(0, 0, 0, 0.2);
$shadow: rgba(0, 0, 0, 0.5);

// #region all
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
// #endregion

// #region dashboard
.dashboard-component {
  padding: 60px 10%;

  h1 {
    margin-bottom: 20px;
  }
}
// #endregion

// #region browse-component
.browse-component {
  padding: 60px 10%;

  .allCountries {
    margin: 20px 0px;
  }

  .pagingButtons {
    display: flex;

    button {
      padding: 5px 8px;
      border-radius: 2px;
      border: 1px solid $lightgrey; 
      margin: 10px 5px;
    }

    button:hover {
      cursor: pointer;
    }

    button:hover:not(.currentPageButton) {
      background-color: $lightestgrey;
    }

    .currentPageButton {
      background-color: $darkblue;
      color: $white;
    }
  }
}
// #endregion

// #region my-trips-component
.my-trips-component {
  padding: 60px 10%;

  .header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    div {
      padding: 0px 20px 0px 0px;
    }

    .plusButton {
      background-color: $lightblue;
      color: $white;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      font-size: 24px;
      text-align: center;
      line-height: 40px;
      cursor: pointer;
      margin-bottom: 20px;
    }

    .plusButton:hover {
      background-color: $brightblue;
    }
  }

  .filters {
    margin-bottom: 60px;
  }

  .tripItem {
    box-shadow: $lightshadow 0px 3px 8px;
    padding: 20px;
    margin-bottom: 12px;
    border-radius: 2px;

    p {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
    }

    p:first-of-type {
      width: 400px;
    }

    .editTrip {
      background: none;
      border: none;
      cursor: pointer;
      color: $lightblue;
    }

    .editTrip:hover {
      color: $brightblue;
    }
    
    .tripHeader {
      display: flex;
      margin-bottom: 20px;
    }

    .tripStop {
      background-color: $lightestgrey;
      display: flex;
      margin-bottom: 20px;
      border-radius: 5px;

      .leftSection {
        margin-right: 20px;
      }

      .rightSection {
        width: 200px;

        h2 {
          margin: 10px 0px 20px 0px;
        }

        .tripStopDetail {
          display: flex;
          justify-content: space-between;
      
          p:first-of-type {
            font-weight: bold;
          }
        }
      }
    }
  }
}

// #endregion

// #region add-trip-dialog-component
.add-trip-dialog-component {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .content {
      background-color: $white;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 0 10px $lightshadow;

      .exitButton button {
        background-color: $red; 
        color: $white;
        border: none;
        border-radius: 50%;
        width: 25px;
        float: right;
        height: 25px;
        font-size: 12px;
        text-align: center;
        cursor: pointer;
        margin-bottom: 20px;
      }

      .exitButton button:hover {
        background-color: $brightred;
      }
      
      h2 {
        margin-bottom: 30px;
      }

      .form-group {
        margin-bottom: 20px;

        label {
          display: block;
          margin-bottom: 5px;
          font-weight: bold;
        }
        
        input[type="text"], select {
          width: 20rem;
          /* TODO: 100% for small screens */
          padding: 10px;
          border: 1px solid $lightgrey;
          border-radius: 5px;
          font-size: 16px;
        }

        .invalidInput {
          border: 1px solid $red !important;
        }

        .invalidMessage {
          color: $red;
          margin-bottom: 20px;
          margin-top: 5px;
        }
      }

      .actionButtons {
        margin-top: 30px;
        margin-bottom: 20px;

        button {
          border: none;
          border-radius: 5px;
          padding: 10px 20px;
          font-size: 16px;
          cursor: pointer;
        }

        .addTrip {
          background-color: $lightblue;
          color: $white;
          margin-right: 20px;
        }
      
        .addTrip:hover {
          background-color: $brightblue;
        }

        .cancel {
          background-color: $lightestgrey;
          color: $black;
        }

        .cancel:hover {
          background-color: $lightgrey;
        }
      }
      
      .pageInvalidMessage {
        background-color: $pink;
        border: 1px solid $red !important;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
      }
    }
  }
}
// #endregion

// #region edit-trip-component
.edit-trip-component {
  padding: 60px 10%;
  
    .header {
      margin-bottom: 20px;

      .breadcrumb {
        margin-bottom: 20px;

        a {
          color: $lightblue;
        }

        a:hover {
          color: $brightblue
        }
      }
    }

    .tripStop {
      background-color: $lightestgrey;
      margin-bottom: 20px; 
      border-radius: 5px;
      padding: 20px;
      display: flex;

      .leftSection {
        margin-right: 20px;
      }

      .rightSection {
        width: 200px;

        h2 {
          margin: 10px 0px 20px 0px;
        }

        .tripStopDetail {
          display: flex;
          justify-content: space-between;
      
          p:first-of-type {
            font-weight: bold;
          }
        }
      }
    }
}
// #endregion

// #region navbar-component
.navbar-component {
  margin: 0;
  background-color: $darkblue;
  color: $white;
  padding: 20px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  a {
    text-decoration: none;
    color: $white;
    font-size: 16px;
    margin-right: 28px;
    padding-bottom: 5px;
  }

  a:hover {
    text-decoration: none;
    cursor: pointer;
  }
}
// #endregion