@import '~@fortawesome/fontawesome-free/css/all.css';
$darkblue: #002431;
// $darkblue: #17182f;
$lightblue: #0056b3;
$brightblue: #1A72CD;
$white: #fff;
$lightestgrey: #f5f5f5;
$lightgrey: #ececec;
$grey: #e0e0e0;
$red: #DC143C;
$brightred: #E9143C;
$green: #61e6be;
$pink: #F3CFC6;
$black: #000000;
$lightshadow: rgba(0, 0, 0, 0.2);
$shadow: rgba(0, 0, 0, 0.5);

// #region all
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
// #endregion

// #region dashboard
.dashboard-component {
  padding: 60px 10%;
  background-color: $lightestgrey;

  h1 {
    margin-bottom: 20px;
  }
}
// #endregion

// #region browse-component
.browse-component {
  padding: 60px 10%;
  background-color: $lightestgrey;

  .allCountries {
    margin: 20px 0px;
  }

  .pagingButtons {
    display: flex;

    button {
      padding: 5px 8px;
      border-radius: 2px;
      border: 1px solid $grey; 
      margin: 10px 5px;
      background-color: $white;
    }

    button:hover {
      cursor: pointer;
    }

    button:hover:not(.currentPageButton) {
      background-color: $lightestgrey;
    }

    .currentPageButton {
      background-color: $darkblue;
      color: $white;
    }
  }
}
// #endregion

// #region my-trips-component
.my-trips-component {
  padding: 60px 10%;
  background-color: $lightestgrey;

  .header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    div {
      padding: 0px 20px 0px 0px;
    }

    .plusButton {
      background-color: $lightblue;
      color: $white;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      font-size: 24px;
      text-align: center;
      line-height: 40px;
      cursor: pointer;
      margin-bottom: 20px;
    }

    .plusButton:hover {
      background-color: $brightblue;
    }
  }

  .filters {
    margin-bottom: 60px;
  }

  .tripItem {
    // box-shadow: $lightshadow 0px 3px 8px;
    margin: 60px 0px;
    border-radius: 2px;
    
    .tripHeader {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 20px;

      h2 {
        flex-grow: 1;
        margin-bottom: 10px;
      }

      .noOfDestinationIcon {
        color: $brightred
      }

      .editTripButton {
        background: none;
        border: none;
        cursor: pointer;
        color: $lightblue;
        margin-top: 8px;
      }

      .editTripButton:hover {
        color: $brightblue;
      }
    }

    .tripStop {
      box-shadow: $lightshadow 0px 3px 8px;
      background-color: $white;
      display: flex;
      margin-bottom: 20px;
      border-radius: 5px;

      .leftSection {
        margin-right: 20px;
        margin-bottom: -4px;
      }

      .rightSection {
        h2 {
          margin: 20px 0px;
        }

        .tripStopDetail {
          display: flex;
          padding-top: 20px;
          font-size: 10pt;

          span {
            margin-right: 6px; 
          }

          .countryRegionIcons {
            color: $green;
          }

          p {
            margin-right: 20px; 
          }
        }
      }
    }

    .tripStop:last-child {
      margin-bottom: 60px;
    }
  }
}

// #endregion

// #region add-trip-dialog-component
.add-trip-dialog-component {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .content {
      background-color: $white;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 0 10px $lightshadow;

      .exitButton button {
        background-color: $red; 
        color: $white;
        border: none;
        border-radius: 50%;
        width: 25px;
        float: right;
        height: 25px;
        font-size: 12px;
        text-align: center;
        cursor: pointer;
        margin-bottom: 20px;
      }

      .exitButton button:hover {
        background-color: $brightred;
      }
      
      h2 {
        margin-bottom: 30px;
      }

      .form-group {
        margin-bottom: 20px;

        label {
          display: block;
          margin-bottom: 5px;
          font-weight: bold;
        }
        
        input[type="text"], select {
          width: 20rem;
          /* TODO: 100% for small screens */
          padding: 10px;
          border: 1px solid $grey;
          border-radius: 5px;
          font-size: 16px;
        }

        .invalidInput {
          border: 1px solid $red !important;
        }

        .invalidMessage {
          color: $red;
          margin-bottom: 20px;
          margin-top: 5px;
        }
      }

      .actionButtons {
        margin-top: 30px;
        margin-bottom: 20px;

        button {
          border: none;
          border-radius: 5px;
          padding: 10px 20px;
          font-size: 16px;
          cursor: pointer;
        }

        .addTrip {
          background-color: $lightblue;
          color: $white;
          margin-right: 20px;
        }
      
        .addTrip:hover {
          background-color: $brightblue;
        }

        .cancel {
          background-color: $lightestgrey;
          color: $black;
        }

        .cancel:hover {
          background-color: $grey;
        }
      }
      
      .pageInvalidMessage {
        background-color: $pink;
        border: 1px solid $red !important;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
      }
    }
  }
}
// #endregion

// #region edit-trip-component
.edit-trip-component {
  padding: 60px 10%;
  background-color: $lightestgrey;
  height: max-content;
  
    .header {
      margin-bottom: 20px;

      .breadcrumb {
        margin-bottom: 20px;

        a {
          color: $lightblue;
        }

        a:hover {
          color: $brightblue
        }
      }

      h2 {
        flex-grow: 1;
        margin-bottom: 10px;
      }
    }

    .destinationHeader, .tripDetails {
      margin: 30px 0px 15px 0px; 
      display: flex;
      justify-content: space-between;

      .editTripButton {
        background: none;
        border: none;
        cursor: pointer;
        color: $lightblue;
      }

      .editTripButton:hover {
        color: $brightblue;
      }
    }

    .destinationHeader .icon {
      color: $brightred;
    }

    .tripDetails .icon {
      color: $green;
    }

    .form-group {
      margin-bottom: 0px;

      .inputField {
        display: flex;
        
        label {
          background-color: $lightestgrey;
          width: 25%;
        }

        input[type="text"], select {
          background-color: $white;
          width: 75%;
        }

        label, input[type="text"],
        select {
          padding: 10px;
          border: 1px solid $grey;
          border-radius: 5px;
          font-size: 16px;
        }

        .dateField {
          width: 25% !important;
        }

        .disabledField {
          background-color: $lightestgrey !important;
        }
      }

      .invalidInput {
        border: 1px solid $red !important;
      }

      .invalidMessage {
        color: $red;
        margin-bottom: 20px;
        margin-top: 5px;
      }
    }

    .actionButtons {
      margin-top: 30px;
      margin-bottom: 20px;

      button {
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
      }

      .saveChanges {
        background-color: $lightblue;
        color: $white;
        margin-right: 20px;
      }
    
      .saveChanges:hover {
        background-color: $brightblue;
      }

      .cancel {
        background-color: $grey;
        color: $black;
      }

      .cancel:hover {
        background-color: $lightgrey;
      }
    }
}
// #endregion

// #region navbar-component
.navbar-component {
  margin: 0;
  background-color: $darkblue;
  color: $white;
  padding: 20px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  a {
    text-decoration: none;
    color: $white;
    font-size: 16px;
    margin-right: 28px;
    padding-bottom: 5px;
  }

  a:hover {
    text-decoration: none;
    cursor: pointer;
  }
}
// #endregion