<div class="add-trip-dialog-component">
  <div class="overlay">
    <div class="content">
      <div class="exitButton">
        <button (click)="onCancelAddTrip()">X</button>
      </div>

      <h2>Add New Trip</h2>

      <form (submit)="onSubmit()">
        <!-- Name -->
        <div class="form-group">
          <label>Name:</label>
          <input type="text" name="tripName" [(ngModel)]="trip.name" (change)="onInputChangeText(inputTypes.TripName)" [class.invalidInput]="!pageFields[inputTypes.TripName].isValid" />
          <p *ngIf="!pageFields[inputTypes.TripName].isValid" class="invalidMessage">Please enter a valid name</p>
        </div>
  
        <!-- Region -->
        <!--
        <div class="form-group">
          <label>Region:</label>
          <select id="regions" name="regions" [ngModel]="trip.regionID" (change)="onInputChangeDropdown(inputTypes.Region, $event)" [class.invalidInput]="!pageFields[inputTypes.Region].isValid">
            <option *ngIf="trip.regionID === 0" [value]="0" disabled>Please select</option>
            <option *ngFor="let region of allRegions" [value]="region.id">{{ region.name }}</option>
          </select>
          <p *ngIf="!pageFields[inputTypes.Region].isValid" class="invalidMessage">Please select a region</p>
        </div>
        -->
  
        <!-- Country -->
        <!--
        <ng-container *ngIf="trip.regionID !== 0">
          <div class="form-group">
            <label>Country:</label>
            <select id="countries" name="countries" [ngModel]="trip.countryID" (change)="onInputChangeDropdown(inputTypes.Country, $event)" [class.invalidInput]="!pageFields[inputTypes.Country].isValid">
              <option *ngIf="trip.countryID === 0" [value]="0" disabled>Please select</option>
              <option *ngFor="let country of filteredCountries" [value]="country.id">{{ country.name }}</option>
            </select>
            <p *ngIf="!pageFields[inputTypes.Country].isValid" class="invalidMessage">Please select a country</p>
          </div>
        </ng-container>
        -->
  
        <!-- Destination -->
        <!--
        <ng-container *ngIf="trip.countryID !== 0">
          <div class="form-group">
            <label>Destination:</label>
            <select id="destinations" name="destinations" [(ngModel)]="trip.destinationID" (change)="onInputChangeDropdown(inputTypes.Destination, $event)" [class.invalidInput]="!pageFields[inputTypes.Destination].isValid">
              <option *ngIf="trip.destinationID === 0" [value]="0" disabled>Please select</option>
              <option *ngFor="let destination of filteredDestinations" [value]="destination.id">{{ destination.name }}</option>
            </select>
            <p *ngIf="!pageFields[inputTypes.Destination].isValid" class="invalidMessage">Please select a Destination</p>
          </div>
        </ng-container>
        -->
  
        <div class="actionButtons">
          <button type="submit" class="addTrip">Add Trip</button>
          <button class="cancel" (click)="onCancelAddTrip()">Cancel</button>
        </div>
  
        <div *ngIf="!isPageValid" class="pageInvalidMessage">
          <p>Please review your inputs</p>
        </div>
  
      </form>
    </div>
  </div>

</div>
