<div class="edit-trip-component">
  <div class="header">
    <div>
      <p class="breadcrumb">
        <a routerLink="/myTrips">My Trips</a> > 
        Edit Trip
      </p>
      <h1>{{currentTrip.Name}}</h1>
    </div>
  </div>

  <div *ngIf="tripStops.length > 0">
    <div class="tripStop" *ngFor="let tripStop of tripStops">
      <div class="leftSection">
        <!-- Placeholder image, this will be the destination image -->
        <img src="assets/images/destinations/{{tripStop.DestinationImageFileName}}" width="200px" />
      </div>
      <div class="rightSection">
        <div class="tripStopDetail">
          <span class="fas fa-globe countryRegionIcons"></span>
          <p>{{tripStop.CountryName}}</p>
          <ng-container *ngIf="tripStop.CountryName !== tripStop.RegionName">
            <span class="fas fa-globe countryRegionIcons"></span>
            <p>{{tripStop.RegionName}}</p>
          </ng-container>
        </div>
        <h2>{{tripStop.DestinationName}}</h2>
      </div>
    </div>
  </div>
  <div *ngIf="tripStops.length === 0">
    <p>You have no destinations in this trip</p>
  </div>
</div>