<div class="browse-component">
  <div class="header">
    <div>
      <h1>Browse Destinations 22</h1>
      <!-- Searchbar here -->
      <div class="filterCategories">
        <span href="">Countries</span>
        <span href="">Sunny</span>
        <span href="">Tropical</span>
        <span href="">Chilly</span>
        <span href="">Snowy</span>
        <span href="">Mountains</span>
        <span href="">Rural</span>
        <span href="">Cities</span>
      </div>
    </div>
  </div>
  
  <div class="allCountries">
    <div class="country" *ngFor="let country of allCountries">
      <p>{{country.Name}}</p>
      <img src="assets/images/countries/{{country.ImageFilename}}" width="240px" height="160px" />
    </div>
  </div> 
  
  <div class="pagingButtons">
    <div *ngFor="let pageNumber of pageNumbers">
      <button (click)="loadNewCountries(pageNumber)" [ngClass]="{ 'currentPageButton': isCurrentPage(pageNumber) }">
        {{ pageNumber }}
      </button>
    </div>
  </div>
</div>

