<div class="browse-component">
  <div class="header">
    <div>
      <h1>Browse</h1>
    </div>
  </div>

  <div class="pagingButtons">
    <div *ngFor="let pageNumber of pageNumbers">
      <button (click)="loadNewCountries(pageNumber)" [ngClass]="{ 'currentPageButton': isCurrentPage(pageNumber) }">
        {{ pageNumber }}
      </button>
    </div>
  </div>
  
  <div class="allCountries" *ngFor="let country of allCountries">
    <p>{{country.Name}}</p>
    <img src="assets/images/countries/{{country.ImageFilename}}" width="100px" />
  </div>

  <div class="pagingButtons">
    <div *ngFor="let pageNumber of pageNumbers">
      <button (click)="loadNewCountries(pageNumber)" [ngClass]="{ 'currentPageButton': isCurrentPage(pageNumber) }">
        {{ pageNumber }}
      </button>
    </div>
  </div>
</div>

