<div class="browse-component">
  <div class="header">
    <div>
      <h1>Browse Destinations</h1>
      <!-- Searchbar here -->
      <div class="filterCategories">
        <span (click)="onFilterTypeChange(filterTypes.Countries)">Countries</span>
        <span (click)="onFilterTypeChange(filterTypes.Cities)">Cities</span>
        <span (click)="onFilterTypeChange(filterTypes.Towns)">Towns</span>
        <span (click)="onFilterTypeChange(filterTypes.Sunny)">Sunny</span>
        <span (click)="onFilterTypeChange(filterTypes.Tropical)">Tropical</span>
        <span (click)="onFilterTypeChange(filterTypes.Chilly)">Chilly</span>
        <span (click)="onFilterTypeChange(filterTypes.Snowy)">Snowy</span>
        <span (click)="onFilterTypeChange(filterTypes.Mountains)">Mountains</span>
        <span (click)="onFilterTypeChange(filterTypes.Rural)">Rural</span>
      </div>
    </div>
  </div>
  
  <div class="allPageData">
    <ng-container *ngIf="currentFilterType === filterTypes.Countries">
      <div class="country" *ngFor="let country of allCountries">
        <p>{{country.Name}}</p>
        <img src="assets/images/countries/{{country.ImageFilename}}" width="240px" height="160px" />
      </div>
    </ng-container>
    <ng-container *ngIf="currentFilterType !== filterTypes.Countries">
      <div class="destination" *ngFor="let destination of filteredDestinations">
        <p>{{destination.Name}}</p>
        <img src="assets/images/destinations/{{destination.ImageFilename}}" width="240px" height="160px" />
      </div>
    </ng-container>
  </div>
  
  <div class="pagingButtons">
    <div *ngFor="let pageNumber of pageNumbers">
      <button (click)="refreshPage(pageNumber)" [ngClass]="{ 'currentPageButton': isCurrentPage(pageNumber) }">
        {{ pageNumber }}
      </button>
    </div>
  </div>
</div>

